<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="Logging.Logger">
				<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} - %message%newline" />
			</layout>
		</appender>

		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="../../Report/execution.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1000KB" />
			<maxSizeRollBackups value="2" />

			<layout type="Logging.Logger">
				<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="console" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
</configuration>